<h2>Welcome <%= current_user.email %></h2>
<hr />
<h3>Your Trips</h3>
<ul>
  <% @trips.each do |trip| %>
    <i><%= link_to trip.name, trip_path(trip) %></i>
    
      <br />
      <%= link_to 'Locations', trip_locations_path(trip, [:id]) %> |
      <%= link_to 'Edit', edit_trip_path(trip) %> |
      <%= link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: 'Are you sure?' } %>
      <br />
  <% end %>
</ul>

<%= link_to "Add Trip", new_trip_path %>
