<h1>Click a Location To View It</h1>
<%= link_to 'Back To Locations', :back %>
<br />
<br />

  <div>
  <%= @addresses.street %>
  
  <%= @addresses.city %><br />
  <%= @addresses.zip %><br />
  <%= @addresses.state %></li>
  </div>

<%= link_to 'Edit', edit_location_address_path(@location, @addresses) %>
<%= link_to  "Delete", [@address, @location], method: :delete %>




