<p><strong>Addresses</strong></p>
<%= @address.street %>
<%= @address.city %>
<%= @address.zip %>
<%= @address.state %>
<%= link_to  "edit", edit_location_address_path(@location) %>
<%= link_to 'Back', location_address_path(@location) %>