<nav>
  <div class='ui container'>
  <h4>
      <%= link_to 'Trips', trips_path %> |
      <%= link_to 'Add Trip', new_trip_path %> |
      <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Add User', new_user_registration_path %> |
      <%= link_to 'Sign In', new_user_session_path %> |
    <% end %>
    </div>
    </h4>
    <br />
    <br />
</nav>